<nav clas="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a routerLink="docentes" routerLinkActive="active" class="nav-link">Lista de Docentes</a>
        </li>
        <li class="navbar-item">
            <a routerLink="agregar-docente" routerLinkActive="active" class="nav-link">Agregar Docente</a>
        </li>
    </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div clas="container">
   <router-outlet></router-outlet>
</div>